body {
    margin: 0;
    background-color: #EEF2EA;
}
    /*hell0*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
    }

/* PAGE SETTINGS */
#BodyContainer {
    height: 25px;


}
#ContentContainer {
    max-width: 1024px;
    margin: 0 auto 0 auto;

}
#TenderleHeader h1 {
    font-size: 18px;
    color: #333333;
    padding: 5px 0px 0px 10px;
    width: 300px; 
}
.Signupbutton{
    border:1px solid red;
    padding: 10px 15px 10px 15px;
    text-align: center;
    float:right;
    font-size: 14px;
    border-radius: 3px;
    margin: 12px 10px 0 10px;
    font-weight: bold;
}
.loginbutton{
    padding: 10px;
    text-align: center;
    float:right;
    font-size: 14px;
    margin-top: 12px;
    color: #F18113;
    font-weight: bold;
}

/* HERO SECTION */
#Herosection {
    background-image: url("../img/teaser_background_image.jpg");
    height: 575px;
}
#TenderleDescription {}
    #TenderleDescription h1 {
        text-align: center;
        
        font-weight: 300;
        color: white;
        padding-top: 200px;
        padding-bottom: 30px;
    }
    #TenderleDescription h3 {
        color: white;
        margin: 0 auto 0 auto;
        font-weight: 300;
        text-align: center;
    }
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.LaunchBox {
    margin: 0 auto auto auto;
    background-color: white;
    border-radius: 3px;
    width: 70%;
    color: black;
    margin-top: 40px;
    height: 400px;
}
    .LaunchBox #TenderleHeader h1 {
        width: 100%;
        font-weight: bold;
    }

    #TenderleDescription .LaunchBox h1 {
        color: #333333;
        padding: 30px 30px 10px 30px;
    }
    #TenderleDescription .LaunchBox h3 {
        color: #333333;
        padding: 0px 30px 40px 30px;
    }
    .LaunchBox h1, .LaunchBox h3 {
        color: #333333;

    }
#quicklaunch {
    max-width: 400px;
    margin: 0 auto 0 auto;
}
.button {
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;

}
.button_orange {
    background-color: orange;
}


/* EVENT SECTION */
#EventsNeedHelp {
    margin-top: 50px;
    margin-bottom: 100px;
}
#EventsNeedHelp .individualevent {
    max-width: ;
}
#EventsNeedHelp h1 {
    margin-bottom: 50px;
    margin-left: 2%;
    font-size: 24px;
}
#EventsPopular .individualevent {
    max-width:;
}
.individualevent {
    border: 1px solid #cccccc;
    background-color: white;
    border-radius: 8px;
    margin: 0px 2% 50px 2%;
    min-height: 315px;
}
    .individualevent .button_volunteer {
        margin-bottom: 20px;
    }
.eventleft {
    float:left;
    margin: 20px 0px 0px 20px;
}
.eventright {
    margin: 40px 10px 0px 390px;

}
    .eventimage {

    }
    .eventtitle{
        font-size: 20px;
        font-weight: 400;
        color: #00A3D8;
    }
    .eventorganizer{
        font-size: 15px;
        color: #333333;
        font-weight: 500;
    }
    .eventdate{
        padding:10px 0 10px 0;
        font-size: 14px;
        color: #666666;
    }
    .eventlocation{
        font-size: 14px;
        color: #666666;
    }
    .eventdescription {
        font-size :14px;
        color: #999999;
        margin-bottom: 30px;
    }
.button_volunteer {
    color: white;
    background-color: orange;
    padding: 5px 10px 5px 10px;
    text-align: center;
    max-width: 200px;
}

/*FOOTER SECTION */
.site-footer {
    background-color: #333333;
    color: white;
}
.content-footer {
    max-width: 1024px;
    margin: 0 auto 0 auto;
}
.column_third {
    width: 33%;
    float: right;
    padding-bottom: 30px;
    
}
    .column_third h5 {
        font-weight: bold;
    }
    .column_third ul {
        list-style:none;
        padding-left:0;
    }
        .column_third ul li {
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            display: list-item;
            padding: 0;
            font-size: 14px;
            color: #d0d5cb;
        }
.copywrite {
    max-width: 1024px;
    font-size: 12px;
}
/* STICKY FOOTER */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 80px; 
}


/* PAGE SPECIFIC */
/* signup.html */
.UserSignupModuel {
    width: 33%;
    margin: 0 auto 0 auto;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}
    .UserSignupModuel ul {
        padding-left: 0px;
    }
li.Field { 
   display: block; 
   clear: both; 
   padding: 10px 0 10px 0;
   float:left;
   height: 80px;
   padding-left: 0px;
}
label, input {
    display: block;
}
label {
    font-size: 12px;
    color: #666666;
    padding-bottom: 5px;
}
input {
    color: #333333;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
}
.LegalReview {
    font-size: 12px;
}
.RegisterButton {
    color: white;
    background-color: orange;
    text-align: center;
    font-size: 14px;
    padding-
}


/* individualevent.html */
.EventPageContainer {
    background-color: white;
    border: 1px solid #cccccc;
    margin-top: 50px;
    padding: 20px;
}
    .EventPageContainer .eventdescription {
        font-size: 24px;
        color: #333333;
    }
.EventPageMainContainer {
    float: left;
    width: 60%;
    margin-right: 50px;
}
.EventPageStats {
    float: left;
    width: 33%;
}
.EventFAQ {
    font-weight: bold;
    color: #333333;
}
.EventAnswer {
    color: #666666;
    padding-bottom: 20px;
}